<div class="container-xxl pt-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="card card-profile shadow p-2">
                <img
                    src="{{user?.photoUrl}}"
                    alt="{{user?.knownAs}}"
                    class="img-fluid rounded-circle mx-auto mt-3"
                    style="width: 200px;"
                >

                <div class="card-body">
                    <div class="text-center">
                        <h3>
                            {{user?.knownAs}}
                            <span class="font-weight-light">, {{user?.age}}</span>
                        </h3>
                        <div class="h5 font-weight-300">
                            <i class="ni ni-square-pin text-primary"></i>
                            &nbsp;
                            {{user?.city}}, {{user?.country}}
                        </div>
                    </div>
                    <div class="mt-4">
                        <p class="d-flex justify-content-between">

                            <strong>Last Active:</strong>
                            <span class="float-right">{{user?.lastActive}}</span>
                        </p>
                        <p class="d-flex justify-content-between">
                            <strong>Member Since:</strong>
                            &nbsp;
                            <span class="float-right">{{user?.created}}</span>
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <a
                            class="btn btn-danger w-100"
                            href="javascript:void(0)"
                        >
                            Like
                        </a>
                        <a
                            class="btn btn-success w-100"
                            href="javascript:void(0)"
                        >
                            Message
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset
                    type="pills"
                    class="nav-fill flex-column flex-md-row"
                >
                    <tab heading="About {{user?.knownAs}}">
                        <h4>Description</h4>
                        <p>{{user?.introduction}}</p>
                        <h4>Looking For</h4>
                        <p>{{user?.lookingFor}}</p>
                    </tab>
                    <tab heading="Interests">
                        <h4>Interests</h4>
                        <p>{{user?.interests}}</p>
                    </tab>
                    <tab heading="Photos">
                        <p>Photos will go here.</p>
                    </tab>
                    <tab heading="Messages">
                        <p>Messages will go here.</p>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
