<div class="container-xxl">
    <div class="row mt-3 mb-2">
        <div class="col-sm-4 text-center">
            <h1 class="pt-2 pb-2">{{user.knownAs | titlecase}}'s Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card card-profile shadow">
                <img
                    src="{{user.photoUrl || '../../../assets/user.png'}}"
                    alt="{{user.knownAs | titlecase}}"
                    class="img-fluid rounded-circle mx-auto mt-4"
                    style="width: 200px;"
                >

                <div class="card-body">
                    <div class="text-center">
                        <h3>
                            {{user.knownAs | titlecase}}
                            <span class="font-weight-light">, {{user.age}}</span>
                        </h3>
                        <div class="h4 font-weight-300">
                            <i class="ni ni-square-pin text-primary"></i>
                            &nbsp;
                            {{user.city | titlecase}}, {{user.country | titlecase}}
                        </div>
                    </div>
                    <div class="mt-4">
                        <p class="d-flex justify-content-between">

                            <strong>Last Active:</strong>
                            <span class="float-right">{{user.lastActive | timeago}}</span>
                        </p>
                        <p class="d-flex justify-content-between">
                            <strong>Member Since:</strong>
                            &nbsp;
                            <span class="float-right">{{user.created | date:'mediumDate'}}</span>
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-danger w-100">Like</button>
                        <button
                            class="btn btn-success w-100"
                            (click)="selectTab(3)"
                        >
                            Message
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card card-profile shadow p-3">
                <tabset
                    type="pills"
                    #memberTabs
                >
                    <tab heading="About {{user.knownAs | titlecase}}">
                        <div *ngIf="user.lookingFor !=null;else descriptionElseBlock">
                            <h4>Description</h4>
                            <p>{{user.introduction}}</p>
                        </div>
                        <ng-template #descriptionElseBlock>
                            <p>Description is not provided yet.</p>
                        </ng-template>
                        <div *ngIf="user.lookingFor !=null;else lookingForElseBlock">
                            <h4>Looking For</h4>
                            <p>{{user.lookingFor}}</p>
                        </div>
                        <ng-template #lookingForElseBlock>
                            <p>
                                Looking For criteria is not provided yet.
                            </p>
                        </ng-template>
                    </tab>
                    <tab heading="Interests">
                        <div *ngIf="user.interests !=null;else interestsElseBlock">
                            <h4>Interests</h4>
                            <p>{{user.interests}}</p>
                        </div>
                        <ng-template #interestsElseBlock>
                            <p>Interests is not provided yet.</p>
                        </ng-template>
                    </tab>
                    <tab heading="Photos">
                        <ngx-gallery
                            *ngIf="user.photos.length !=0;else photosElseBlock"
                            [options]="galleryOptions"
                            [images]="galleryImages"
                            class="ngx-gallery"
                        ></ngx-gallery>
                        <ng-template #photosElseBlock>
                            <p>No photos are uploaded yet.</p>
                        </ng-template>
                    </tab>
                    <tab heading="Messages">
                        <app-member-messages [recipientId]="user.id"></app-member-messages>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
